In [8]:
a=[10,20,30,100,60,90]
s=0
for i in a:
    if i<s:
        s=i
print(s)

0

In [12]:
a=[10,20,5,20,6,10,50]
for i in range(0,len(a)):
    for j in range(0,i+1):
           if a[i]<a[j]:
                t=a[i]
                a[i]=a[j]
                a[j]=t
print(a[0])

5

In [14]:
a=[10,20,5,20,6,10,50]
for i in range(0,len(a)):
    for j in range(0,i+1):
           if a[i]>a[j]:
                t=a[i]
                a[i]=a[j]
                a[j]=t
print(a[0])

50

In [35]:
class Vehicle:
    def __init__(self,milage,cost):
        self.milage=milage
        self.cost=cost
    def show(self):
        print("Milage",self.milage)
        print("cost",self.cost)
        print("I m vehicle")
class Car:
    def __init__(self,milage,cost,tyres,hp):
        super().__init__(milage,cost)
        self.tyres=tyres
        self.hp=hp
    def show(self):
        print("Milage",self.milage)
        print("cost",self.cost)
        print("I m vehicle")

In [34]:
v=Vehicle(200,1225)

In [ ]:
v1=Car(600,12000,8,500)

In [33]:
v1.show()

Milage 200
cost 1225
I m vehicle

In [36]:
#Multiple Inheritance
class parent1:
    def string_one(self,str1):
        self.str1=str1
    def show_str1(self):
        return self.str1
class parent2:
    def string_two(self,str2):
        self.str2=str2
    def show_str2(self):
        return self.str2
class child(parent1,parent2):
    def string_three(self,str3):
        self.str3=str3
    def show_str3(self):
        return self.str3
c=child()
c.string_one("chinmayyyy")
print(c.show_str1())

chinmayyyy

In [ ]:
class Parent:
    def get_name(self,name):
        self.name=name
    def show_name(self):
        return self.name

In [ ]:
class Child(Parent):
    def get_age(self,age):
        self.age=age
    def show_age(self):
        return self.age

In [ ]:
class Grandchild(child):
    def get_gender(self,gender):
        self.gender=gender
    def show_gender(self):
        return self.gender

In [ ]:
#Multilevel Inheritance

class Parent:
    def get_name(self,name):
        self.name=name
    def show_name(self):
        return self.name
    
class Child(Parent):
    def get_age(self,age):
        self.age=age
    def show_age(self):
        return self.age

class GrandChild(Child):
    def get_gender(self,gender):
        self.gender=gender
    def show_gender(self):
        return self.gender
    
g=GrandChild()
g.get_gender(55)
g.get_name("Rishabh")
g.get_age(99)
print(g.show_gender())
print(g.show_age())
print(g.show_name())

In [51]:
class Employee:
    def __init__(self,name,salary,role):
        self.name=name
        self.salary=salary
        self.role=role
    def Printdetails(self):
        return f'my name is {self.name} salary is {self.salary} and role is {self.role}'

c=Employee("chinmay",2555,'student')
print(c.Printdetails())

my name is chinmay salary is 2555 and role is student